.cabecalho h3{
    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 800px;
}