.cabecalho h3{
    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.karana{
    background-image: url(../img/unsplash_QQ9LainS6tI\ \(3\).png);
    background-repeat: no-repeat;
}
.torcida{
    background-image: url(../img/unsplash_QQ9LainS6tI\ \(1\).png);
    background-repeat: no-repeat;    
}
.basquete{
    background-image: url(../img/unsplash_QQ9LainS6tI\ \(2\).png);
    background-repeat: no-repeat;
}