.conteiner-tabela h2{
    color: #3F3F3F;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
}
.coluna{
    display: flex;
    justify-content: space-between;
}
.cabecalho a{
    color: var(--Dark, #2667BF);

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline; 
}
.grupinho h3{
    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.grupinho p{
    color: #5F5F5F;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.coluna h4{
    border-radius: 8px;
    background: var(--Light-Opacity, rgba(191, 218, 255, 0.25));
    color: var(--Default, #2F80ED);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 15px;
    padding: 2px 10px;
}
.coluna .placar{
    color: var(--color-gray-100, #202020);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;   
    background-color: white;
}
.grupinho{
    display: flex;
    gap: 8px;
    align-items: center;
}
.grupinho img{
    width: 24px;
    height: 24px;
}
.conteiner-tabela{
    display: flex;
    padding: 20px 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 6px;
    background: var(--color-gray-10, #FFF);
    
    /* Cards/Long Default */
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}
.tabela{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.org-tabela{
    width: 780px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.esporte{
    padding-left: 140px;
}
.acoes{
    margin-right: 20px;
}
.placar{
    padding-left: 20px;
}